<h1>All Students</h1>

<table class="table">
  <thead>
    <tr>
      <th>Enrollment ID</th>
      <th>Name</th>
      <th>Semester</th>
      <th>Branch</th>
      <th>Edit or Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of students">
      <td>{{student.eid}}</td>
      <td>{{student.firstName + " " + student.lastName}}</td>
      <td>{{student.sem}}</td>
      <td>{{student.branch}}</td>
      <td>
        <button class="btn btn-primary" (click)=delStudent(student)>Delete</button>
        &nbsp; &nbsp;
        <button class="btn btn-primary">Edit</button>
      </td>
    </tr>
  </tbody>
</table>